header{
    background-color: black;
    height: 40px;
    p{
        color: white;
        float: right;
        padding-top: 7px;
        margin-right: 50px;
        font-size: medium;
    }
}
nav{
    width: 100%;
    img{
        width: 190px;
    }
    .navbar-icon{
        .icon{
            margin-left : 10px;
        }
    }
}